@{
    ViewData["Title"] = "Login Page";
}

    <h1>
        Login Page
    </h1>

    <form method="post">
        <p>
            姓名: <input  name="userName" value="administrator" />
        </p>
        <p>
            角色: <input name="role" value="老师" />
        </p>
        <p>
            <button>登录</button>
        </p>
    </form>